.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1.25rem;
  min-height: 100vh;
  font-family: var(--font);
}

.pageContent {
  max-width: var(--max-width);
  width: 100%;
  color: #222;
}

.header {
  display: inherit;
  justify-content: space-between;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  color: rgb(var(--foreground-rgb));
  font-weight: bold;
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header p {
  position: relative;
  margin: 0;
}

.tabs {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
}

.tabs a {
  padding: 0 0.5rem;
  color: #555;
}

.tabs a:hover {
  color: black;
}

.title {
  position: relative;
}

.tick {
  display: inline;
  vertical-align: top;
  position: absolute;
  left: 18px;

  color: rgb(var(--primary-red));
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;

}

.subheader {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
}

.gridLayout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.heading {
  display: grid;
  position: relative;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.heading h1 {
  grid-column: 1/13;
  position: relative;
  letter-spacing: -.05em;
  line-height: 4.5rem;
}

.subheading {
  position: absolute;
  left: 0;
  margin-top: 0;
}

.content {
  display: grid;
  position: relative;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.subtitle {
  grid-column: 1/8;
  position: relative;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.section {
  display: grid;
  position: relative;
  grid-column: 1/-1;
}

.smallHeading {

  display: grid;
  position: relative;
  grid-column: 1/-1;
  align-items: center;
  grid-template-columns: auto 1fr;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.divider {
  margin-left: 8px;
  border-bottom: 1px solid gray;
}


.description {
  grid-column: 1/12;
  position: relative;
  grid-template-columns: subgrid;
  grid-template-rows: auto;
}

.inline {
  display: grid;
  position: relative;
  grid-column: 1/-1;
  align-items: center;
  grid-template-columns: repeat(12, 1fr);
}

.bnr {
  filter: sepia(90%) brightness(90%);
  cursor: pointer;
  padding-right: 0.2rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
  text-wrap: balance;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    margin: 1.25rem;
  }

  .subtitle {
    grid-column: 1/-1;
    position: relative;
    grid-template-columns: subgrid;
    grid-template-rows: auto;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
